<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear/>
    <add key="globalPackagesFolder" value=".packages" />
  </config>
  
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  	<!-- Define mappings by adding package patterns beneath the target source. -->
	<!-- Contoso.* packages and NuGet.Common will be restored from contoso.com, everything else from nuget.org. -->
	<!--see https://docs.microsoft.com/de-de/nuget/consume-packages/package-source-mapping-->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
